src/main/wsdl/book-service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.cleverbuilder.com/BookService/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    name="BookService"
    targetNamespace="http://www.cleverbuilder.com/BookService/">

    <wsdl:documentation>
        Definition for a web service called BookService,
        which can be used to add or retrieve books from a collection.
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema targetNamespace="http://www.cleverbuilder.com/BookService/">
            <xsd:element name="GetBook">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ID" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetBookResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ID" type="xsd:string"/>
                        <xsd:element name="Title" type="xsd:string"/>
                        <xsd:element name="Author" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AddBook">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Title" type="xsd:string"/>
                        <xsd:element name="Author" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AddBookResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ID" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="GetBookRequest">
        <wsdl:part element="tns:GetBook" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetBookResponse">
        <wsdl:part element="tns:GetBookResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="AddBookRequest">
        <wsdl:part name="parameters" element="tns:AddBook"/>
    </wsdl:message>
    <wsdl:message name="AddBookResponse">
        <wsdl:part name="parameters" element="tns:AddBookResponse"/>
    </wsdl:message>

    <wsdl:portType name="BookService">
        <wsdl:operation name="GetBook">
            <wsdl:input message="tns:GetBookRequest"/>
            <wsdl:output message="tns:GetBookResponse"/>
        </wsdl:operation>
        <wsdl:operation name="AddBook">
            <wsdl:input message="tns:AddBookRequest"/>
            <wsdl:output message="tns:AddBookResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="BookServiceSOAP" type="tns:BookService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetBook">
            <soap:operation soapAction="http://www.cleverbuilder.com/BookService/GetBook"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddBook">
            <soap:operation soapAction="http://www.cleverbuilder.com/BookService/AddBook"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="BookService">
        <wsdl:port binding="tns:BookServiceSOAP" name="BookServiceSOAP">
            <soap:address location="http://www.example.org/BookService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
